body{
    cursor: url(img/crosshair.cur), crosshair;
}

a{
    cursor: url(img/crosshair.cur), crosshair;
}

#container{
    width: 40%;
    margin: auto;
}

#bigBug {
    display: none;
    margin: 80px;
    width: 80px;
    height: 100px;
    background-image: url(img/9.png);
    background-size: contain;
    position: absolute;
    z-index: 2;
}

.enemy{
    cursor: url(img/crosshair.cur), crosshair;
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    position: absolute;
    z-index: 2;
}


#background {
    background-image: url("img/biedronka.jpg");
    width: 750px;
    height: 600px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -2;
    border: 5px solid black;
}

.info{
    width: 50px;
    height: 50px;
    color: rgb(255, 0, 159);
    position: absolute;
    font-size: 40px;
    z-index: 2;
    top: 450px;
    left: 50%;
}

/* Loading stuff */
#loader {
    position: absolute;
    top: 40%; left: 43%;
    transform: translate(-50%,-50%);
    margin: auto;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

#content{
    font-size: 20px;
}

#content img{
    float: left;
    height: 50px;
    width: 100px;
    z-index: -2;
}

#time{
    position: absolute;
    top: 55px;
    left: 10px;
}

#time p{
    position: absolute;
    margin-left: 60px;
    line-height: 17px;
}

#points{
    position: absolute;
    top: 5px;
    left: 10px;
}

#points p{
    position: absolute;
    margin-left: 60px;
    line-height: 10px;
}

#ammoContainer{
    width: 580px;
    position: absolute;
    top: 545px;
    left: 10px;
    font-size: 40px;
    color: red;
}

#ammoContainer p{
    line-height: 0;
}

.round{
    background-image: url(img/bullet.png);
    width: 17px;
    height: 45px;
    background-size: contain;
    display: inline-block;
    margin: 2px;
}

h1{
    text-align: center;
}

#board img {
    display: inline-block;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
}

#board {
    width: 55%;
    margin: 0 auto;
    height: 370px;
    /*width: auto;*/
    position: relative;
}

#restart{
    position: absolute;
    margin: auto;
    bottom: 0;
}



.hint{
    display: none;
    font-size: 15px;
    top: 240px;
    width: 150px;
    height: 125px;
    background-image: url(img/dymek.png);
    background-size: cover;
    position: absolute;
    z-index: 2;
    text-align: center;
    font-weight: 900;
}

.hint p{
    text-align:center;
    vertical-align: middle;
    display: table-cell;
}


#hint1{
    top: 150px;
}

#hint2{
    top: 240px;
}

#hint3{
    top: 330px;
}

/* loading animation */

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 }
    to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
    from{ bottom:-100px; opacity:0 }
    to{ bottom:0; opacity:1 }
}
